// $license The MIT License (MIT)
// $copyright Stanislav Kalashnik <darkpark.main$gmail.com>

@import "body";
@import "../node_modules/stb-component/sass/main";
@import "../node_modules/mag-component-modal/sass/main";

.mag-component-modal-check-list {
    @include stb-component-release;
    @include mag-component-modal;

    & > div.alignBox > div > div.header {
        display:table;
        width:100%;

        & > .theme-icon {
            display:table-cell;
            text-align:left;
        }
        & > .text {
            display:table-cell;
            text-align:left;
        }
    }

    @if $DEVELOP {
        @include stb-component-develop;
    }
}

.leftListItemText {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
