// $license The MIT License (MIT)
// $copyright Stanislav Kalashnik <darkpark.main$gmail.com>

@import "body";
@import "../node_modules/stb-component/sass/main";
@import "../node_modules/mag-component-modal/sass/main";

.mag-component-modal-check-list {
    @include stb-component-release;
    @include mag-component-modal;

    .header > .theme-icon {
        display:table-cell;
        color:red;
    }

    @if $DEVELOP {
        @include stb-component-develop;
    }
}

.leftListItemText {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
