// $license The MIT License (MIT)
// $copyright Stanislav Kalashnik <darkpark.main$gmail.com>

@import "480";

$height:                 100%;
$width:                  100%;
$panelMainTitleHeight:   50px;
$panelMainTitleFontSize: 24px;
$safePadding:            20px;
$panelTitleHeight:       45px;
$panelWidth:             230px;
$panelHeight:            360px;
$buttonHeight:           30px * 1.2;

